
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#holder {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    width: 400px;
    height: 400px;
    padding: 20px;
    justify-content: stretch;
    gap: 40px;
}
#container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
}
.calcButton {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    border: solid;
    font-size: 36px;
}
#lastButtons {
    width: 397px;
    border: solid;
    text-align: center;
    font-size: 36px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    
}
.equalsButton {
    background-color: darkgrey;
    border:solid;
    
}
.deleteButton {
    background-color: darkgrey; 
    border: solid; 
}
#numberDisplay {
    display: flex;
    background-color: antiquewhite;
    width: 397px;
    height: 125px;
    font-size: 36px;
    border: solid;
    justify-content: center;
    align-items: center;
}
.operatorButton
{
    color:black;
    background-color:mediumspringgreen;
}
.numButton, .clearButton {
    color:black;
    background-color: violet;
}
.equalsButton, .deleteButton {
    background-color: darksalmon;
}
